@import '/assets/styles/variables';

.log-body {
  cursor: pointer;
  display: flex;
  justify-content: center;

  &::-webkit-scrollbar {
    display: none;
  }
}

.table-hover.log {
  height: fit-content;

  .log-action {
    cursor: pointer;
    text-align: center;
    border-left: 1px solid $gray-700;
  }

  .log-item,
  .log-action {
    background-color: $gray-800;
    font-size: x-small;
    padding: 0.5em;
    color: $white;
    border-bottom: 1px solid $gray-700;
  }
}
