@import '/assets/styles/variables';

div.card {
  border: none;

  fieldset {
    flex-direction: column;
  }

  .card-title {
    width: fit-content;
  }
  .card-body {
    border-radius: $card-border-radius;
  }
}
