@import '/node_modules/bootstrap/scss/bootstrap';
@import '/assets/styles/variables';
@import '/assets/styles/bootswatch';
@import '/assets/styles/fonts';

:root {
  @media (prefers-color-scheme: dark) {
    body {
      background: $gray-900;
    }
  }

  @media (prefers-color-scheme: light) {
    body {
      background: $gray-900;
    }
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  font-family: 'JetBrains Mono-Light', monospace;
  height: 100%;
}

.image-container {
  user-select: none;
}

p {
  color: rgb(237, 134, 134);
  font-size: small;
  margin-top: 1em;
}

.icon {
  fill: rgb(237, 134, 134);

  &:hover {
    cursor: pointer;
  }

  &:active {
    fill: rgb(255, 255, 255);
  }
}
