@import '/assets/styles/variables';

table.key-mapping {
  margin-top: 0.5em;
  box-shadow: none;

  col.path-column {
    padding-left: 1em;
  }

  td,
  th {
    text-align: left;
    box-shadow: none;
  }

  tr {
    &:last-of-type {
      position: relative;
      top: 1em;
    }
  }

  th {
    text-transform: capitalize;
    padding: 0;
    border: 0;
    color: $red;
  }

  td {
    padding: 0.275em 0.175em;
    border: 0;
  }

  .bind {
    padding-left: 0.5em;
    margin: 0.4em 0.5em 0 0;
  }
}

code {
  line-height: 2;
}
