@import '/assets/styles/variables';

table.key-mapping {
  td,
  th {
    box-shadow: none;
  }

  th {
    padding: 0;
    border: 0;
    color: $red;
  }

  td {
    overflow-wrap: anywhere;
    padding: 0.275em 0.175em;
  }

  .add-key-bind {
    cursor: pointer;
  }
}

code {
  line-height: 2;
}
