// Zephyr 5.1.1
// Bootswatch

@import '/assets/styles/mixins';

:root {
  @media (prefers-color-scheme: dark) {
    @include dark-theme();
  }

  @media (prefers-color-scheme: light) {
    @include light-theme();
  }
}

// Base
* {
  &:focus {
    outline: none;
  }
}

html,
body,
#root {
  font-family: 'JetBrains Mono-Medium', monospace;
  height: 100%;
  background-color: var(--bg-color);
}

// Typography
p,
span {
  color: $red;
  font-size: small;
  margin-top: 1em;
}

legend {
  &.card-title {
    color: var(--text-color);
  }
}

kbd {
  background-color: var(--card-bg-color-contrast);
  color: var(--text-color-contrast);
}

// Buttons
button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

// Icons
.icon {
  fill: $red;

  &:hover,
  &:focus,
  &:active {
    fill: $white;
    cursor: pointer;
  }
}

.btn-light,
.btn-outline-light {
  color: $gray-900;

  &:disabled,
  &.disabled {
    border: 1px solid shade-color($secondary, 10%);
  }
}

.btn-secondary,
.btn-outline-secondary {
  border-color: shade-color($secondary, 10%);

  &:hover,
  &:active {
    background-color: shade-color($secondary, 10%);
    border-color: shade-color($secondary, 10%);
  }
}

.btn-light,
.btn-outline-light {
  border-color: shade-color($light, 10%);

  &:hover,
  &:active {
    background-color: shade-color($light, 10%);
    border-color: shade-color($light, 10%);
  }
}

// Tables
.table {
  box-shadow: none;
  font-size: $font-size-sm;

  tbody tr td {
    background-color: var(--card-bg-color);
    color: var(--text-color);
  }
}

thead th {
  text-transform: uppercase;
  font-size: $font-size-sm;
}

// Forms
.input-group-text {
  box-shadow: $box-shadow;
}

input {
  border: none;

  &:focus {
    outline: none;
  }
}

// Containers
.list-group {
  box-shadow: $box-shadow-lg;
}

.card-body {
  width: 100%;
  background-color: var(--card-bg-color);
  padding-top: 0;
}

.card {
  width: 100%;
  background-color: inherit;

  &-title {
    font-size: $font-size-sm;
    color: inherit;
  }
}

.modal-footer {
  background-color: $gray-100;
}

.modal-content {
  box-shadow: $box-shadow-lg;
}

.border-gray {
  border: 1px dashed var(--border-color);
}

.h-10 {
  height: 10%;
  max-height: 10%;
}

.h-30 {
  height: 30%;
  max-height: 30%;
}

.h-40 {
  height: 40%;
  max-height: 40%;
}

.h-90 {
  height: 90%;
  max-height: 90%;
}

fieldset {
  display: flex;
}

// Modal
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.modal-main {
  position: fixed;
  background: $gray-800;
  min-width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
