@import '/assets/styles/variables';

.rename-modal {
  * {
    color: $white;
  }

  input {
    text-align: center;
    background-color: $gray-900;
    border: none;

    &:focus {
      outline: none;
    }
  }

  button {
    height: 2.5rem;
  }

  button:hover,
  button:focus,
  button:active {
    background-color: $gray-700;
  }
}
