@import './styles/variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './styles/bootswatch';
@import './styles/fonts';

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'JetBrains Mono-Light', monospace;
}

.card {
  fieldset {
    padding: 0em 1em 0em 1em;
  }

  .card-body p {
    text-align: center;
  }
}

p {
  color: rgb(237, 134, 134);
  font-size: small;
  margin-top: 0.5em;
}

.icon {
  fill: rgb(237, 134, 134);

  &:hover {
    cursor: pointer;
  }

  &:active {
    fill: rgb(255, 255, 255);
  }
}
