@import '/assets/styles/variables';

table {
  &.store-key-bind {
    margin-bottom: 0;
  }

  td {
    border: none;

    &.accelerator-recorder {
      padding: 0;
      background-color: $gray-700;
      cursor: cell;

      .accelerator-output {
        padding: 0.5em;
        justify-content: center;
        display: flex;
      }
    }

    &.select-path {
      cursor: pointer;
      background-color: $gray-800;

      &:hover {
        background-color: $gray-900;
      }
    }
  }
}
